.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 75%;

  &__item {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 10px;
    color: black;
    background-color: var(--color-gray);
    transition: .3s linear;

    &:hover{
      background-color: var(--color-white);
    }
  }
  &__item.active {
    background-color: var(--color-white);
  }
}
