.sliderInfo {
  margin-top: 80px;

  &__item {
    position: relative;
    padding: 50px 0;
    height: 775px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 50px;
    color: var(--color-white);
  }

  &__container.container {
    width: 20%;
    margin: 0 0 0 150px;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-transform: capitalize;
  }

  &__description {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__dots {
    width: 200px;
    height: 80px;
    position: relative;
    //overflow: hidden;

    &-progressbar{
      height: 3px;
      width: 100%;
      position: relative;
      top: -3px;
      opacity: 0;
      transition: .3s ease;
    }

    &-title {
      color: white;
      font-size: .87rem;
      padding: 1em 1em 0;
      text-align: left;
      position: relative;
      z-index: 20;
      font-weight: bold;
    }

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .3s linear;
      filter: brightness(50%);
    }
  }

  .slick-active .sliderInfo__dots {
    &-image {
      filter: brightness(25%) blur(2px);
    }
    &-progressbar {
      opacity: 1;
      animation: progress 2.5s linear 0s 1 alternate none;
    }
  }

  //Slick slider styles
  .slick-dots li {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .slick-dots {
    display: flex !important;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -80px;
    height: 80px;
  }

  .slick-slider.slick-initialized {
    .slick-arrow {
      width: 40px;
      height: 45px;
      background: rgba(0, 0, 0, 0.5);
      transition: .3s linear;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }

    .slick-arrow.slick-prev {
      left: 32px;
      z-index: 20;
    }

    .slick-arrow.slick-next {
      right: 32px;
    }
  }

  .slick-prev::before,
  .slick-next::before {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background: url("../../../assets/img/Items/arrowWhite.svg") center right no-repeat;
    background-size: contain;

  }
  .slick-prev::before{
    transform: translateX(4px);
  }
  .slick-next::before {
    transform: translateX(5px) rotate(180deg);
  }
}

@keyframes progress {
  from {width: 0; }
  to {width: 200px; }
}