.items {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
  }

  .card {
    height: 300px;
    width: 100%;

    &__list.container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      width: 100%;
    }

    &__title {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    &__content {
      height: 84px;
      border-bottom: none;
    }

    &__wrapper {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.css-1p5q5e5-MuiStack-root {
  margin: 30px auto 0 auto;
}

.MuiPagination-ul.css-wjh20t-MuiPagination-ul li button {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-ellipsis.css-1scal0h-MuiPaginationItem-root {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.FormControlLabel.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0;
}

.css-1yjjitx-MuiSwitch-track {
  background-color: white !important;
}
