.items {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .card {
    height: 300px;

    &__title {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    &__content {
      height: 84px;
      border-right: 1px solid gray;
      border-left: 1px solid gray;
      border-bottom: none;
    }

    &__wrapper {
      border: 1px solid gray;
      border-bottom: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__iconWrapper {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 80px;
      transition: .3s linear;
    }

    &__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

input {
  color: darkgrey;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 20px 5px 40px;
  border-radius: 10px;
  height: 40px;
  width: 50%;
  border: none;
  transition: .3s linear;
  position: relative;

  &:focus, &:hover {
    width: 100%;
    outline: none;
  }

  &:focus + .search__iconWrapper, &:hover + .search__iconWrapper {
    left: 10px;
  }

  &::placeholder {
    color: darkgrey;
  }
}


.skeleton {
  padding: 0;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 80%;

  &__inner {
    width: 0.2fr;
    height: 100%;
    object-fit: cover;
  }
}

.css-1p5q5e5-MuiStack-root {
  margin: 30px auto 0 auto;
}

.MuiPagination-ul.css-wjh20t-MuiPagination-ul li button {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.MuiPaginationItem-root.MuiPaginationItem-sizeLarge.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-ellipsis.css-1scal0h-MuiPaginationItem-root {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.FormControlLabel.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0;
}

.css-58ftfq-MuiSkeleton-root {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 10px;
}