.cards{
  margin-bottom: 300px;
  &__container.container{
    width: 70%;
  }
  &__header{
    height: 700px;
    background: url("../../../assets/img/HomePage/Cards/cardsbackground.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
    &-info{
      bottom: 15%;
      left: 50%;
      position: absolute;
      text-align: center;
      transform: translateX(-50%);
      width: 45%;
    }
    &-title{
      color: black;
      font-size: 3rem;
      margin-bottom: 40px;
    }
  }
  &__body{
    height: 700px;
    background: linear-gradient(180deg,#1f4055 0,#5e6c88);
  }
}