.cards{
  margin-bottom: 100px;
  &__container.container{
    width: 70%;
  }
  &__header{
    height: 700px;
    background: url("../../../assets/img/HomePage/Cards/cards-background.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
    &-info{
      bottom: 15%;
      left: 50%;
      position: absolute;
      text-align: center;
      transform: translateX(-50%);
      width: 45%;
    }
    &-title{
      color: black;
      font-size: 3rem;
      margin-bottom: 40px;
    }
  }

  &__body{
    padding-bottom: 1em;
    padding-top: 3em;
    background: linear-gradient(180deg,#1f4055 0,#5e6c88);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    flex-wrap: wrap;
  }
}