.cards {
  margin-bottom: 100px;

  &__container.container {
    width: 80%;
  }

  &__header {
    height: 700px;
    background: url("../../../assets/img/HomePage/Cards/cards-background.jpg") center top no-repeat;
    background-size: cover;
    position: relative;

    &-info {
      bottom: 15%;
      left: 50%;
      position: absolute;
      text-align: center;
      transform: translateX(-50%);
      width: 45%;
    }

    &-title {
      color: black;
      font-size: 3rem;
      margin-bottom: 40px;
    }
  }

  &__body {
    padding-bottom: 1em;
    padding-top: 3em;
    background: linear-gradient(180deg, #1f4055 0, #5e6c88);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 30px 100px;
  }
}

@media (max-width: 1101px) {

  .cards__body .cards__list{
    padding: 20px 30px;
    width: 100%;
    justify-content: space-between;
  }
  .cards__body .cards__list .card {
    min-width: 200px;
    width: 30%;
  }
  .cards__header-info{
    width: 100%;
  }
  .cards__container.container {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 800px) {
  .cards__body .cards__list .card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .cards__body .cards__list .card {
    width: 90%;
  }
  .cards__body .cards__list{
    justify-content: center;
  }
}