* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    color: var(--color-gray);
    background: black url("./assets/img/HomePage/home-background.jpg") fixed center top no-repeat;
}

.App {
    position: relative;
    text-align: center;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    padding: 20px 10px;
    margin: 0 auto;
}

.logoWrapper{
    width: 238px;
    height: 134px;
    position: relative;
    z-index: 20;
    margin: 10px auto;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}